<div class="container">
    <div class="content">
      <div class="left">
        <div class="main">
          <div class="sub-main">
            <img src="assets/logo.jpg">
            <div class="logo">Webflow Template</div>
          </div>
          </div>
          <div class="page">
            <img src="assets/pa.png">
            <div class="pag">Pages</div>
          </div>
          <div class="tit">Book Website Template</div>
          <div class="middle">
            <div class="first">
              <img src="assets/io.png">
            </div>
            <div class="second">
              <img src="assets/wo.png">
            </div>
          </div>
          <div class="foot">
            <h1>VictorFlow</h1>
          </div>
      </div>
  <div class="right">
    <div class="con">
 
  <h2 class="logo">Pages</h2>
  <ul>
    <li>
      <a [routerLink]="['']">Home</a>
      
      <a [routerLink]="['pages']">Pages</a>
      
      <a [routerLink]="['about']">About</a>
      
      <a [routerLink]="['services']">Services</a> 
      <a [routerLink]="['contact']">Contact</a>
     </li>
    </ul>
    <button>
     Order Today
    </button>
 
</div>

   
</div>
    </div>
  </div>
  