<div class="container">
    <div class="content">
      <div class="left">
        <div class="main">
          <div class="sub-main">
            <img src="assets/logo.jpg">
            <div class="logo">Webflow Template</div>
          </div>
          </div>
          <div class="page">
            <img src="assets/pa.png">
            <div class="pag">Pages</div>
          </div>
          <div class="tit">Book Website Template</div>
          <div class="middle">
            <div class="first">
              <img src="assets/io.png">
            </div>
            <div class="second">
              <img src="assets/wo.png">
            </div>
          </div>
          <div class="foot">
            <h1>VictorFlow</h1>
          </div>
      </div>
  <div class="right">
    <div class="con">
 <div class="conts">
  <h2 class="logo">Pages</h2>
  <ul>
    <li>
      <a [routerLink]="['']">Home</a>
      
      <a [routerLink]="['pages']">Pages</a>
      
      <a [routerLink]="['about']">About</a>
      
      <a [routerLink]="['services']">Services</a> 
      <a [routerLink]="['contact']">Contact</a>
     </li>
    </ul>
    <button>
     Order Today
    </button>
   </div>
 <div class="mid">
<div class="one">
<p class="para">- Welcome to Pages</p>
<h2 class="port">Books are uniquely portable magic</h2>
<p class="small">There are many variations of passages of lorem lpsum available, but the majority have suffered alteration in some form.</p>
<div class="look">
  <button class="tod">Order Today</button>
  <p class="fre">Read Free Demo</p>
</div>
<div class="sidenav">
<p class="side1">Pages</p>
<p class="side1">Length</p>
<p class="side1">Ratings</p>
</div>
</div>
<div class="two">
<img src="assets/book.png" class="bo">
</div>
</div> 
</div>
<div class="cent">
<p class="aut">Author's Book Includes</p>
</div>
<div class="flo">
  <div class="firstone">
<img src="assets/ato.jpg" class="mic">
  </div>
  <div class="secondone">
    <img src="assets/book.png" class="mic">
</div>
  <div class="thirdone">
    <img src="assets/ato.jpg" class="mic">
  </div>
  </div>
  <div class="footer">
    <div class="foot1">
      <img src="assets/perusu.jpg" class="sm">
    </div>
    <div class="foot2">
<h3 class="abo">About Author</h3>
<p class="ip">Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo molestias atque quos iusto eaque praesentium, odio eum nobis reprehenderit, fugit est voluptates esse id qui exercitationem harum perspiciatis minus. Obcaecati?</p>
<div class="final">
  <div class="qr">
<img src="assets/qrs.png" class="qt">
  </div>
  <div class="pat">
    <p class="pat1">Mathan Kumar , Ph.d</p>
    <p class="pat1">Mail:mathansin53@gmail.com</p>
  </div>
</div>   
</div>
  </div>

 <router-outlet></router-outlet>
</div>


    </div>
  
  </div>

 