

  @import url('https://fonts.googleapis.com/css2?family=Anton&family=Fjalla+One&family=Golos+Text&family=Roboto+Slab&family=Teko&display=swap');

*
{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    font-family: 'Anton', sans-serif;
font-family: 'Fjalla One', sans-serif;
font-family: 'Golos Text', sans-serif;
font-family: 'Roboto Slab', serif;
font-family: 'Teko', sans-serif;
background-color: #FFC942;
}
